
a {
    text-decoration: none;
    color: #666
}

.tab {
    width: 100%;
    overflow: hidden;
    float: left;
    position: relative;
}

.tab > ul > li {
    float: left;
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.tab > ul > li:hover {
    color: #f00;
}

.tab span {
    width: 50%;
    display: block;
    height: 3px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-300px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
    /*100% {
      transform: none;
    }*/

    /*0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }
    75% {
      transform: translate3d(-10px, 0, 0);
    }
    90% {
      transform: translate3d(5px, 0, 0);
    }
    100% {
      transform: none;
    }*/
}

.news {
    float: left;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.tie {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.tie_list > ul {
    clear: both;
}

.tie_list > ul > li {

    line-height: 26px;
    height: 26px;
    width: 274px;
    white-space: nowrap; /*显示省略号*/
    overflow: hidden;
    text-overflow: ellipsis; /*强制在一行显示*/

}

.shou_hide {
    width: 300px;
    height: 104px;
    position: relative;
    clear: both;
}

.tie_list {
    clear: both;
    width: 300px;
    height: 104px;
    display: none;
    animation: bounceInLeft 1s 1;
}

/*@keyframes h5go4 {
    100% {
        right: 50%;
        opacity: 1;
    }
}*/

